.checkerboardBox {
  position: relative;
}

.disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--content-width) - 238px);
  height: calc(var(--content-width) - 200px);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: no-drop;
}
